body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Навигация*/

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.navigation-logo {

}

.site-navigation{
  list-style: none;
}

.site-navigation a{
  color: inherit;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current{
  color: #766357;
}

/*Седона- небольшой городок..*/
.presentation{
text-align: center;
line-height: 26px;
font-weight: 400;
}
.presentation .slogan{
  font-size: 21px;
  font-weight: 700;
}
.advantage-top{
 list-style: none;
}
.advantage-bottom{
  list-style: none;
}
.reason{
  text-align: center;
}
.square .reason-title{
 font-size: 21px;
 color: #000000;
}
.square .reason-title-white{
 font-size: 21px;
 color: #ffffff;
}

.reason-title p{
 font-weight: 400;
}
.reason .square{
 color: #ffffff;
 background-color: #81b3d2;
}

.advantage-top{
 text-align: center;
}
.advantage-top .square{
color:#000000
}
.advantage-top h2{
  font-size: 21px;
 line-height: 21px;
}
.advantage-top p{
  font-size: 14px;
 line-height: 21px;
 font-weight: 400;
}
.advantage-bottom{
  text-align: center;
  background-color: #eeeeee;
}
.advantage-bottom .square{
color: :#000000
}
.advantage-bottom h2{
  font-size: 21px;
 line-height: 21px;
}
.advantage-bottom p{
 font-weight: 400;
}
.search{
  text-align: center;
  line-height: 24px;
}
.search .search-title{
 color: #000000;
  font-size: 30px;
 line-height: 36px;
}
.search .date-trip{
 font-weight: 400;
}
.button-search {
  font-size: 21px;
 line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
font-weight: 700;
  background-color: #766357;
  border: none;
}
.button-search:hover{
  background-color: #604e43;
}

.button-search:active{
background-color: #503e33;
color: rgba(255, 255, 255, 0.3);
}
.booking-search{
  line-height: 26px;
  color: #000000;
}


.date{
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  text-align: left;
  border: 2px solid #f2f2f2;
	outline: none;
}
.date:hover{
  background-color: #ebebeb;
}
.date:focus{
  background-color: #ffffff;
}

.calendar-select{
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  border: 2px solid #f2f2f2;
  outline: none;
}
.icon-minus,
.icon-plus{
  font-weight: 700;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}
.icon-minus:hover,
.icon-plus:hover{
  color: #000000;
}
.icon-minus:active,
.icon-plus:active{
  color: #81b3d2;
}
.button-find{
  font-size: 21px;
 line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
font-weight: 700;
  background-color: #81b3d2;
  border: none;
}
.button-find:hover{
background-color: #669ec0;
}
.button-find:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer a {
  color:#000000;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: none;
}

.main-footer {
  color: #000000;
  background-color: rgba(255,255,255,0.9)
}

.footer .hashtag{
  font-size: 21px;
 line-height: 26px;
  text-align: center;
}

.footer-social{
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright{

 line-height: 26px;
  text-align: center;
  font-weight: 400;


}
/*Каталог*/
.container{
  text-align: left ;
  font-weight: 400;
}
.search-filter fieldset {
  border: none;
}
.search-filter{
  background: #313c3e url("../img/background-blur.jpg") 0 50% no-repeat;
  color: #ffffff;
  background-color: #b5d77;

}


}
.search-filter .filter-title{
  font-size: 16px;
 line-height: 21px;
  font-weight: 700;
}
.search-filter .checkbox:disabled{
 color: #5f6161;
}

.search-filter .checkbox:hover,
.search-filter .checkbox:focus{
  color: #ffffff;
}
.button-price{
  font-size: 14px;
 line-height: 21px;
    text-align: center;
    color: #ffffff;
background: 0 0;
    border: 2px solid #ffffff;
        padding: 6px 35px;
        text-transform: uppercase;
}
.range-price{
border: 2px solid #ffffff;
color: #ffffff;
text-align: center;
border-radius: 3px;
padding: 5px 0;

}
.range-price input{
background: 0 0;
color: #ffffff;
border:none;
}

.options ul{
  list-style: none;
}
.option-found{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.option-type{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.option-type-list .option-list-current {
	color: #81b3d2;
}
.option-type-list a{
  color: rgba(0,0,0,0.3)
}
.option-type-list a:hover {
	color: #81b3d2;
}

.option-type-list a:active {
  color: #000000
}

.result-hotel{

}
.hotel-link a{
  color: #000000;
}
.hotel-link a:hover {
  color: #81b3d2;
}
.hotel-link a:active{
  color: #b2b2b2;
}
.result-hotel p{
  font-weight: 400;

}
.hotel-more a{
  color: #ffffff;
}

.button-more{
  	background-color: #81b3d2;
}

.button-more:hover {
background-color: #669ec0;
}


.button-more:active {
  color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.button-reserved{
  background-color: #766357;
}

.button-reserved:hover{
background-color: #604e43;
}

.button-reserved:active{
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.rating{
  color: #666666;
  background-color: #f2f2f2;
}
