html {
box-sizing: border-box;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

body {
margin: 0;
padding: 0;
font-family: "PT Sans", Arial, sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: normal;
text-transform: uppercase;
color: #000000;
background-color: #f2f2f2;
min-width: 1200px;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.wrap{
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}



/*Навигация*/

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
}
.main-header-logo img{
  vertical-align: top;
  border-style: none;
}
.main-navigation {
    line-height: 26px;
    font-weight: bold;
    position: relative;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding:0 72px;
    list-style: none;
}

.site-navigation li {
    width: 20%;
    padding-top: 9px;
    padding-bottom: 9px;
}

.site-navigation li:nth-child(1) {
    text-align: left;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: auto;
}

.site-navigation li:nth-child(3) {
    text-align: right;
}

.site-navigation li:nth-child(4) {

    text-align: right;
}

.site-navigation a{
  color: inherit;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current{
  color: #766357;
}


/*Седона- небольшой городок..*/

.presentation{
text-align: center;
line-height: 26px;
padding: 50px 0;
margin: 0 auto;
max-width: 560px;
}

.presentation .slogan{
font-size: 21px;
font-weight: 700;
}

.welcome-logo{
background-image: url("../img/background.jpg");
background-repeat: no-repeat;
background-position: 50% 28%;
background-size: cover;
background-color: #97c0da;
text-align: center;
padding-top: 76px;
padding-bottom: 79px;
height: 508px;
}
/*Общие селекторы для преимуществ*/
.square{
width: 400px;
}
.reason-title p{
 font-weight: 400;
}

.square .reason-title{
 font-size: 21px;
 color: #000000;
}

/*Строки причины с изображением*/

.reason{
text-align: center;
display: flex;
min-height: 256px;
}

.reason .square{
display: flex;
flex-direction: column;
justify-content: center;
color: #ffffff;
background-color: #81b3d2;
}

.square .reason-title-white{
font-size: 21px;
color: #ffffff;
}

.reason-img{
height: 256px;
}

/*Верхняя строка преимуществ*/

.advantage-top{
list-style: none;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 330px;
 padding: 0;
 margin: 0;
 background-color: #ffffff;
}

.advantage-top .square{
color:#000000;
padding: 71px 0;
}
.advantage-top .square img{
width: 76px;
height: 76px;
}
.advantage-top h2{
font-size: 21px;
line-height: 21px;
}
.advantage-top p{
font-size: 14px;
line-height: 21px;
font-weight: 400;
}

/*Нижняя строка преимуществ*/

.advantage-bottom{
list-style: none;
text-align: center;
background-color: #eeeeee;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
}
.advantage-bottom .square{
color:#000000;
padding-left: 42px;
padding-right: 44px;
padding-top: 50px;
padding-bottom: 40px;
}
.advantage-bottom h2{
  font-size: 21px;
 line-height: 21px;
}
.advantage-bottom p{
 font-weight: 400;
}

/*нижняя часть страницы с модальным окном*/
.search{
text-align: center;
line-height: 24px;
}
.interesting{
padding-top: 55px;
width: 568px;
margin: 0 auto;
position: relative;
}
.search .search-title{
color: #000000;
font-size: 30px;
line-height: 36px;
}
.search .date-trip{
font-weight: 400;
}
.button-search {
font-size: 21px;
line-height: 26px;
font-weight: 700;
text-align: center;
color: #ffffff;
text-transform: uppercase;
background-color: #766357;
border: none;
width: 100%;
padding: 30px 10px;
}
.button-search:hover{
background-color: #604e43;
}

.button-search:active{
background-color: #503e33;
color: rgba(255, 255, 255, 0.3);
}

.modal{
line-height: 26px;
color: #000000;
background: #ffffff;
width: 100%;
position: absolute;
left: 0;
top:100%;
box-shadow: 5px 5px 0px 0px rgba(0, 1, 1, 0.1);
}

.search-map{
background-color: #cbdda9;
height: 593px;
}

.date{
font-weight: 700;
color: #000000;
background-color: #f2f2f2;
text-align: left;
border: 2px solid #f2f2f2;
outline: none;
}

.date:hover{
background-color: #ebebeb;
}

.date:focus{
background-color: #ffffff;
}

.calendar-select{
font-weight: 700;
color: #000000;
background-color: #f2f2f2;
border: none;
text-align: center;
border: 2px solid #f2f2f2;
outline: none;
}

.icon-minus,
.icon-plus{
font-weight: 700;
color: #a9a9a9;
background-color: #f2f2f2;
border: none;
text-align: center;
}

.icon-minus:hover,
.icon-plus:hover{
color: #000000;
}

.icon-minus:active,
.icon-plus:active{
color: #81b3d2;
}

.button-find{
font-size: 21px;
line-height: 26px;
text-align: center;
color: #ffffff;
text-transform: uppercase;
font-weight: 700;
background-color: #81b3d2;
border: none;
}

.button-find:hover{
background-color: #669ec0;
}
.button-find:active{
color: rgba(255, 255, 255, 0.3);
background-color: #5496bd;
}

/*Футер*/
.main-footer{
color: #000000;
display: flex;
align-items: center;
padding:  36px 0;
}

.main-footer a{
color:#000000;
}

.main-footer a:hover,
.main-footer a:focus{
text-decoration: none;
}

.hashtag{
font-size: 21px;
line-height: 26px;
font-weight: 700;
text-align: center;
width: 400px;
}

.footer-social{
text-align: center;
width:400px;
}

.footer-social ul{
list-style: none;
display: flex;
justify-content: center;
margin: 0;
padding: 0;
}

.social-button{
color: #ffffff;
}

.footer-copyright{
line-height: 26px;
text-align: center;
font-weight: 400;
width: 400px;
margin: 0;
}


/*==========================Каталог====================================*/

.container{
text-align: left;
font-weight: 400;
}

/*Фильтр-форма*/

.search-filter{
background: #313c3e url("../img/background-blur.jpg") 0 50% no-repeat;
color: #ffffff;
padding: 27px 72px 31px;
}

.search-filter .checkbox:disabled{
color: #5f6161;
}

.search-filter .checkbox:hover,
.search-filter .checkbox:focus{
color: #ffffff;
}
.filter-form{
display: flex;
}

.filter-title{
font-size: 16px;
line-height: 21px;
font-weight: 700;
text-align: left;
}

.infrastructure{
width: 313px;
}
.infrastructure label{
display: block;
}

.type-house{
width: 330px;
padding-left: 10px;
}
.type-house label{
display: block;
}
.range-column{
width: 318px;
margin-left: auto;
text-align: center;
}

.button-price{
font-size: 14px;
line-height: 21px;
text-align: center;
color: #ffffff;
background: 0 0;
border: 2px solid #ffffff;
padding: 6px 35px;
text-transform: uppercase;
}
.range-price{
border: 2px solid #ffffff;
color: #ffffff;
text-align: center;
border-radius: 3px;
padding: 5px 0;

}
.range-price input{
background: 0 0;
color: #ffffff;
border:none;
}

/*сортировка результата поиска*/
.options{
display: flex;
align-items: baseline;
padding: 30px 72px;
border-bottom: 1px solid #ccc;
}

.option-found{
font-size: 21px;
font-weight: 700;
line-height: 26px;
color: #000000;
margin: 0;
width: 164px;
flex-shrink: 0;
}

.options ul{
list-style: none;
margin: 0;
padding: 0;
}

.option-type{
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: #000000;
display: flex;
max-width: 760px;
width: 100%;
align-items: baseline;
}

.option-type-name{
width: 100px;
margin: 0 15px 0 0;
}

.option-type-list{
display: flex;
flex-wrap: wrap;
flex-grow: 1;
align-items: baseline;
}

.option-type-list li{
margin-right: 30px;
}

.option-type-list li:last-child{
margin: 0;
}

.option-type-list .option-list-current {
	color: #81b3d2;
}
.option-type-list a{
  color: rgba(0,0,0,0.3)
}
.option-type-list a:hover {
	color: #81b3d2;
}

.option-type-list a:active {
  color: #000000
}

.option-direction{
display: flex;
justify-content: flex-end;
align-items: baseline;
width:132px;
}

/*Информация по отелям*/

.result{
display: flex;
flex-direction: column;
}

.result-hotel{
display: flex;
padding:  30px 72px;
border-bottom: 1px solid #ccc;
}

.hotel-price{
display: flex;
margin: 0 0 15px;
}

.hotel-info{
display: flex;
width: 900px;
margin-right: auto;
}

.result-hotel-img{
margin-right: 30px;
width: 135px;
}

.hotel-link{
margin:  0 0 10px;
}


.hotel-link a{
color: #000000;
}
.hotel-link a:hover {
color: #81b3d2;
}
.hotel-link a:active{
color: #b2b2b2;
}

.hotel-price p{
width: 110px;
margin: 0 6px 0 0;
}

.hotel-more{
display: flex;
margin: 0;
}

.result-hotel p{
font-weight: 400;

}
.hotel-more a{
color: #ffffff;

}

.button-more{
background-color: #81b3d2;
}

.button-more:hover {
background-color: #669ec0;
}


.button-more:active {
  color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.button-reserved{
background-color: #766357;
}

.button-reserved:hover{
background-color: #604e43;
}

.button-reserved:active{
color: rgba(255,255,255,0.3);
background-color: #503e33;
}

.rating{
color: #666666;
background-color: #f2f2f2;
}
